{% extends 'layouts/admin_layout.html' %}

{%block title%}
<title>{{name}}</title>
{%endblock%}

{% block css %}{% endblock %}

{% block content %}
<div class="container">
  <h1 class="text-center mt-5">Admin Page</h1>
</div>
{% endblock %}
