<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{{url_for('static', filename='material-icons/iconfont/material-icons.css')}}"/>
    <link rel="stylesheet" href="{{url_for('static', filename='bootstrap/dist/css/bootstrap.min.css')}}"/>
    <link rel="stylesheet" href="{{url_for('static', filename='sweetalert2/dist/sweetalert2.min.css')}}"/>
    <script src="{{url_for('static', filename='bootstrap/dist/js/bootstrap.min.js')}}"></script>
    <script src="{{url_for('static', filename='sweetalert2/dist/sweetalert2.min.js')}}"></script>
    <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}"/>
    {% block css %}{% endblock %}
    
    {% block title %}
    <title>{{name}}</title>
    {% endblock %}
  </head>
  <body>
    {% include "partials/navegador.html" %}
    {% block content %}{% endblock %}
    <script src="{{url_for('static', filename='js/script.js')}}"></script>
  </body>
</html>
