{% extends "layouts/layout.html" %} {% block title %}
<title>{{name}}</title>
{% endblock %} {% block content %}
<div class="container">
  <div class="row justify-content-center">
    <div class="col-lg-6 mt-5">
      {% if error %}
      <h5 class="text-center text-danger">{{error}}</h5>
      {% endif %}
      <h5 class="text-center text-danger">Formulário de Cadastro</h5>
      <form method="POST">
        <div class="col-12 mb-3">
          <label for="username" class="form-label">Username</label>
          <input
            type="text"
            name="username"
            class="form-control"
            id="username"
            placeholder=""
            value=""
            required
          />
        </div>
        <div class="col-12 mb-3">
          <label for="email" class="form-label">Email</label>
          <input
            type="email"
            name="email"
            class="form-control"
            id="email"
            placeholder=""
            value=""
            required
          />
        </div>
        <div class="col-12 mb-3">
          <label for="password" class="form-label">Password</label>
          <input
            type="password"
            name="password"
            class="form-control"
            id="password"
            placeholder=""
            value=""
            required
          />
        </div>
        <div class="col-12 d-flex justify-content-end mb-3">
          <button class="btn btn-primary d-flex" type="submit">
            <i class="material-icons me-2">send</i>
            SALVAR
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
{% endblock %}
