{% extends 'layouts/layout.html' %} {%block title%}
<title>{{name}}</title>
{%endblock%}
 {% block css %}
 <style>
   .content{
     height: 92vh;
     display: flex;
     justify-content: center;
     align-items: center;
      
   }

 </style>
 {% endblock %}
  {% block content %}
<div class="content justify-content-center">
  <div class="col-6 col-md-2">
    <img src="{{url_for('static', filename='imagens/flask.png')}}" class="img-fluid" alt="" >
  </div>
</div>
{% endblock %}
