{% extends 'layouts/layout.html' %} {% block title %}
<title>{{name}}</title>
{% endblock %} {% block css %}{% endblock %}
{% block content %}
<div class="container d-flex justify-content-center">
  <div class="col-md-8 mt-5">
    <h5 class="text-center text-danger">Tabela de Usuários</h5>
    <table class="table text-center">
      <thead>
        <tr>
          <th>Username</th>
          <th>Email</th>
          <th>Password</th>
        </tr>
      </thead>
      <tbody>
        {% for u in users %}
        <tr>
          <td>{{ u.username }}</td>
          <td>{{ u.email }}</td>
          <td>{{ u.password }}</td>
          <td>
            <a class="btn" href="{{ url_for('site.delete', id=u.id ) }}">
              <i class="material-icons">delete</i>
            </a>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>
{% endblock %}
