<nav class="navbar navbar-expand-lg navbar-light bg-dark">
  <a class="navbar-brand ms-1  text-white" href="/">Navbar</a>
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarNav"
    aria-controls="navbarNav"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link text-muted" href="/">Home</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link text-muted" href="/cadastro">Cadastro</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link text-muted" href="/users">Users</a>
      </li>
    </ul>
  </div>
</nav>
